@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'poppins', sans-serif;
}
body{
  background-color: #2f273a;
}
.headerFont{
  font-family: 'carter one', sans-serif;
  background: -webkit-linear-gradient(90deg, #897fb7, #b7ade0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradientLight{
  background: -webkit-linear-gradient(90deg, #897fb7, #b7ade0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrGirlRadius{
  border-radius: 120px 120px 120px 300px;
  overflow: hidden;
  border-color: #b700ff33;
}
.gradientHomeDetails{
  background: rgb(59,42,79);
  background: radial-gradient(circle, rgba(59,42,79,1) 0%, rgba(26,20,32,1) 100%);
}
.shadow1{
  box-shadow: 0px 0px 6px 0px black;
}
.vrpic2{
  border-radius: 13rem 4rem 13rem 4rem;
}
.serviceBtn:hover{
  background-image: linear-gradient(180deg, #bfb6e2, #090909);
  scale: 1.1;
}
.serviceBtn{
  transition: all .2s ease-in-out;
}

